<ion-content  >
  <div class="bg-img">
    <!-- avatar-->
    <ion-avatar class="avatars">
      <!-- call for the img-->
      <img  src="../../assets/lock2.jpg">
    </ion-avatar>

    <div class="divlogin ion-padding">

    <ion-item class="item-background-color">
      <!-- <ion-icon style="margin-top: 50px;" name="mail" slot="start"></ion-icon>
      -->
        <ion-label position="floating" class="labellogin">Email</ion-label>
      <ion-input type="email" autoFocus [(ngModel)]="email"></ion-input>
    </ion-item>
    <!-- if user enter empty filed will show this msg "This field is required" -->
<!-- ------------------------------------- -->
    <ion-item class="item-background-color" *ngIf= "email?.length === 0" lines="none">
      <ion-label>
        <ion-text color=danger>This field is required</ion-text>
      </ion-label>
    </ion-item>
<!-- ------------------------------------- -->

    <ion-item class="item-background-color">
  <!--  <ion-icon style="margin-top: 50px;" name="lock-closed" slot="start"></ion-icon>
-->
      <ion-label position="floating" class="labellogin" >Passowrd</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="item-background-color" *ngIf= "password?.length === 0" lines="none">
      <ion-label>
        <ion-text color=danger>This field is required</ion-text>
      </ion-label>
    </ion-item>

    <div class="divlogin">
      <!-- we use routerLink to navigate between pages -->
    <ion-button class="btnlogin" expand="block">Sign In</ion-button>
    <ion-button class="btninscri"  routerLink="/register">Register</ion-button>
    <ion-button class="btnforget" routerLink="/forget-password">Forgot Password</ion-button>

  </div>
  </div>






  </div>
</ion-content>
